<h1>Checklist Mania!</h1>
<table>
	<% @checklists.each do |checklist| %>
		<tr>
			<td><%= checklist.name %></td>
			<td><%= link_to 'View', checklist %></td>
			<td><%= link_to 'Delete', checklist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

<br />
<%= link_to 'New Checklist...', new_checklist_path %>

